<%    
var successfulQuery        
var first_name = successfulQuery.first_name
var last_name = successfulQuery.last_name
var user_name = successfulQuery.user_name
var tele = successfulQuery.tele
var passwd = successfulQuery.passwd



%>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Creation Reults</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>A user has been created</h1> 
    <p>First Name <%=successfulQuery.first_name%>
    
       Last Name <%=successfulQuery.last_name%>

       User Name <%=successfulQuery.user_name%>

       Telephone number <%=successfulQuery.tele%>

       Password <%=successfulQuery.passwd%>
       PLEASE WRITE DOWN YOUR PASSWROD! ! !



    </p>


</html>